/*
  Usage: 
  <style scoped lang="stylus">
    @import "path/to/ui/RoundDiv"
    .custom-div-elements
      @extend .mjch-rd
  </style>
*/
mjch-radius = 20px

.mjch-rd
  border-radius mjch-radius
  border solid 2px #CECECE
  padding mjch-radius
  background-color #FFF
